.main-header {
  display: flex;
  flex-direction: column;
  color: #7e7e7e;
}

.mobile-nav {
  visibility: hidden;
  height: 0;
}

.yellow-nav{
    width:100%;
    background-color: yellow;
    text-align:center;
    position: relative;
    
}

.top-nav {
  background-color: black;
  width: 100%;
  padding: 0.6rem 1rem;
}

.main-nav {
  padding: 1rem;
}

.nav-links {
  float: left;
}

.nav-right {
  float: right;
}

.nav-link {
  display: inline;
  padding-right: 0.6rem;
}

@media (max-device-width: 768px) {
  .nav-right {
    display: none;
  }

  .main-header > img {
    width: 10px;
    height: 10px;
  }
}

@media (max-device-width: 480px) {
  .mobile-nav {
    visibility: visible;
    height: auto;
    position: fixed;
    background-color: #fff;
    width: 100%;
    display: flex;
    margin-bottom: 40%
  }

  .mobile-nav .mobile-image{
      background-color: palevioletred;
      color:white;
      height:10vh;
      width:18vh;
      float:left;
      font-size:20px;
      font-family:cursive;
      word-spacing: 0.3rem;
      font-weight:600;
      text-align: center;
      padding: 10px;
      padding-bottom:0
      

  }

  .mobile-nav .nav-links {
    padding-left:56%;
    padding-top: 1.2rem;
    padding-bottom: 1rem
  }

  .mobile-nav .nav-links .nav-link{
      padding-left:5px;
      font-size:1.2rem
  }

  .yellow-nav{
      margin-top:15%;
      padding:0.6rem;

  }
  .top-nav,
  .main-nav {
    display: none;
  }
}

